/* FullImg */

.fullImgCont {
    background-color: var(--img-bg-color);
    border: 5px solid var(--img-border-color);
    box-shadow: 0 0 60px 0 var(--img-border-color);
    text-align: center;
    justify-content: center;
    margin: 2% -3%;
    border-radius: 5px;
}

.fullImgImg {
    width: 100%;
}

.fullImgText {
    margin: 0 2%;
}

.fullImgCap {
    text-align: center;
    font-size: .8rem;
    /* font-style: italic; */
    padding-top: 10px;
}

.fullImgCred {
    text-align: right;
    font-size: .625rem;
}


/* SectionHead */

.section-head {
    margin-top: 10px;
}

.section-head>h4 {
    padding-top: 10px;
    padding-left: 5%;
    font-size: 1.6rem;
}


/* Fetch* Modules */

.fetch-head {
    padding: 10px 0 20px;
}

/*Render* Modules */

.render-cont {
    /* border: 3px solid grey; */
    border-radius: 5px;
    padding: 5px 5px;
    margin: 2px;
}

.render-row {
    padding: 15px 5%;
    display: flex;
    border-top: 1px solid #bbac;
    background-color: #dca2;
}

.render-head {
    margin: 3px auto 5px 10%;
    font-size: 1.4rem;
}

.render-left {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    text-align: left;
    /* align-self: flex-start; */
}

.render-sub {
    padding-bottom: 5px;
}

.render-desc {
    text-align: justify;
    padding-bottom: 5px;
}


.render-btn-col {
    text-align: center;
    margin: auto 0 auto 0;
}

.render-route-link-btn {
    background-color: #3768;
}

.render-no-route-link {
    padding: 0 3% 0 3%;
    color: #376c;
    text-align: right;
}