.section-cont {
    margin: 15px 5%;
}

.section {
    padding: 2%;
}

@media screen and (min-width: 769px) and (max-width: 1079px) {
    .section-cont {
        margin: 15px 10%
    }
}

@media screen and (min-width: 1080px) and (max-width: 1600px) {
    .section-cont {
        margin: 15px 13%
    }
}

@media screen and (min-width: 1601px) {
    .section-cont {
        margin: 15px 15%
    }
}